<launch>
    <arg name="rtabmap_args"/>
    <arg name="map_name"/>
    <arg name="localization"/>

    <group ns="rtabmap">

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
            <remap from="rgb/image"       to="/zedm/zed_node/rgb/image_rect_color"/>
            <remap from="depth/image"     to="/zedm/zed_node/depth/depth_registered"/>
            <remap from="rgb/camera_info" to="/zedm/zed_node/rgb/camera_info"/>
            <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
        
            <!-- Should be true for not synchronized camera topics 
                (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
            <param name="approx_sync"       value="false"/> 
        </node>

        <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
            <param name="frame_id" type="string" value="base_link"/>

            <param name="subscribe_depth" type="bool" value="false"/>
            <param name="subscribe_rgbd" type="bool" value="true"/>

            <remap from="odom" to="/zedm/zed_node/odom"/>

            <remap from="rgbd_image" to="rgbd_image"/>

            <param name="queue_size" type="int" value="10"/>

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>

            <!-- Custom -->
            <param name="Grid/RangeMax" type="string" value="3"/>
            <param name="Grid/RayTracing" type="string" value="true"/>
            <param name="Grid/3D" type="string" value="true"/>
            <param name="Grid/MaxObstacleHeight" type="string" value="2"/>

            <param name="database_path" type="string" value="$(find navigation)/maps/$(arg map_name).db"/>
            <param name="localization" type="string" value="$(arg localization)"/>
            <param name="RGBD/StartAtOrigin" type="string" value="true"/>
            
        </node>
    </group>
</launch>