<launch>
    <!--
        Robot model and robot state publisher (frames and transformation)
        Map server (load map) provides map for navigation stack
        Localization (AMCL?) estimating the location of the robot
        Navigation stack (move base) global and local planner
    -->
    <include file="$(find description)/launch/display.launch" />
    <include file="$(find zed_wrapper)/launch/zedm.launch" />
    <!-- <include file="$(find mekalacar_launch)/launch/include/rtabmap.launch" /> -->
    <include file="$(find arduino)/launch/arduino.launch" />
</launch>