<launch>
    <!--
        Robot model and robot state publisher (frames and transformation)
        Map server (load map) provides map for navigation stack
        Localization (AMCL?) estimating the location of the robot
        Navigation stack (move base) global and local planner
    -->
    <remap from="/initialpose" to="/rtabmap/initialpose" />
    <arg name="new_map" default="false" />
    <arg name="map_name" default="koy"/>
    
    <arg if="$(arg new_map)" name="rtabmap_args" value="--delete_db_on_start" />
    <arg unless="$(arg new_map)" name="rtabmap_args" value="" />
    
    <arg if="$(arg new_map)" name="localization" value="false" />
    <arg unless="$(arg new_map)" name="localization" value="true"/>

    <arg name="move_forward_only" default="true"/>
    
    <include file="$(find description)/launch/display.launch" />
    <include file="$(find zed_wrapper)/launch/zedm.launch">
        <arg name="cam_pos_x" value="0.0814000447600324" /> <!-- Position respect to base frame (i.e. "base_link) -->
        <arg name="cam_pos_y" value="0.00875000004656613" /> <!-- Position respect to base frame (i.e. "base_link) -->
        <arg name="cam_pos_z" value="0.110154914552125" /> <!-- Position respect to base frame (i.e. "base_link) -->
        <arg name="cam_roll" value="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
        <arg name="cam_pitch" value="0.174532925199437" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
        <arg name="cam_yaw" value="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    </include>
    <include file="$(find arduino)/launch/arduino.launch" />

    <include file="$(find mekalacar_launch)/launch/include/rtabmap.launch">
        <arg name="rtabmap_args" value="$(arg rtabmap_args)"/>
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="localization" value="$(arg localization)"/>
    </include>
</launch>

<!-- <include file="$(find navigation)/launch/move_base.launch">    
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
</include> -->